.idea

emby/config/*
!emby/config/.gitkeep

filebrowser/*
!filebrowser/.gitkeep

jellyfin/config/*
!jellyfin/config/.gitkeep

medias/complete/*
medias/incomplete/*
!medias/.gitkeep
!medias/complete/.gitkeep
!medias/complete/Films/.gitkeep
!medias/complete/Series/.gitkeep
!medias/complete/Animes/.gitkeep
!medias/complete/books/.gitkeep
!medias/complete/comics/.gitkeep

plex/config/*
!plex/config/.gitkeep

prowlarr/config/*
!prowlarr/config/.gitkeep

radarr/config/*
!radarr/config/.gitkeep

sonarr/config/*
!sonarr/config/.gitkeep

transmission/config/*
transmission/watch/*
!transmission/config/.gitkeep
!transmission/watch/.gitkeep

ubooquity/config/*
!ubooquity/config/.gitkeep
