.idea

filebrowser/*
!filebrowser/.gitkeep

!medias/.gitkeep
medias/complete/*
!medias/complete/.gitkeep
medias/incomplete/*

plex/config/*
!plex/config/.gitkeep


!transmission/.gitkeep
transmission/config/*
!transmission/config/.gitkeep
transmission/watch/*
!transmission/watch/.gitkeep

!ubooquity/.gitkeep
ubooquity/config/*
!ubooquity/config/.gitkeep
